{% block head %}
<!-- Blocks are used for inheritance and act as placeholders
and replacements at the same time. All the block tag does is to
tell the template engine that a child template may override those portions of the template
refer Flask_basics_5.docx -->

<title>Pratyush Calculator</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <!-- The <div> tag defines a division or a section in an HTML document.
The <div> tag is used as a container for HTML elements - which is then styled with CSS or manipulated with JavaScript.
The <div> tag is easily styled by using the class or id attribute.
Any sort of content can be put inside the <div> tag!   -->
    <h1 style="text-align: center">Prat Calculator</h1>
    <div class = "form">
        <form action="/math" method="POST">
                <label for="operation">choose a math operation</label>
            <select id="operation" name="operation">  <!-- dropdown option -->
  <option value="add">add</option>
  <option value="subtract">subtract</option>
  <option value="multiply">multiply</option>
  <option value="divide">divide</option>
            </select>
            <input type="text" name="num1" id="num1">
            <input type="text" name="num2" id="num2">
            <input type="submit" value="Calculate">  <!-- submit button  -->
        </form>
    </div>
</div>
{% endblock %}